.media-card {
  width: 12rem;
  background-color: rgb(33, 37, 41);
  margin: 2px;
  display: flex;
}

.card-preview {
  height: 50%;
  object-fit: contain;
}

.card-body {
  text-decoration: none;
  color: white;
  margin-top: auto;
  padding: 0;
}

.card-body:hover {
  color: white;
}

.text {
  font-size: 0.9rem;
}
